<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Agregar Usuario</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container">
        <h1>Agregar Usuario</h1>
        <form th:action="@{/home/add}" method="post">
            <div class="form-group">
                <label for="usuTip">Tipo:</label>
                <input type="text" id="usuTip" name="usuTip" class="form-control"/>
            </div>
        
            <div class="form-group">
                <label for="usuNom">Nombre:</label>
                <input type="text" id="usuNom" name="usuNom" class="form-control"/>
            </div>
        
            <div class="form-group">
                <label for="usuDni">DNI:</label>
                <input type="text" id="usuDni" name="usuDni" class="form-control"/>
            </div>
        
            <div class="form-group">
                <label for="usuEma">Email:</label>
                <input type="text" id="usuEma" name="usuEma" class="form-control"/>
            </div>
        
            <div class="form-group">
                <label for="usuDir">Dirección:</label>
                <input type="text" id="usuDir" name="usuDir" class="form-control"/>
            </div>
        
            <div class="form-group">
                <label for="usuTel">Teléfono:</label>
                <input type="text" id="usuTel" name="usuTel" class="form-control"/>
            </div>
        
            <div class="form-group">
                <label for="usuCon">Contraseña:</label>
                <input type="password" id="usuCon" name="usuCon" class="form-control"/>
            </div>
        
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
    </div>
    
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>